<!DOCTYPE html>
<html>
    <head>
        <title>Google Analytics API Tutorial< using Javascript</title>
        <meta name="description" content="Learn how to query Google Analytics API using Javascript - ByTutorial.com">
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="transparent-wrapper">
            <div id="wait-box">
                <div><img src="images/loading-bubble.gif"/></div>
                <div>Please wait....</div>
            </div>

        </div>
        <div id="login-box" class="hidden">
            <p>Please login on your google account.</p>
            <button id="btnLogin" onclick="byTutorialAnalytics.handleAuthClick()" class="button">Login</button>
        </div>

        <div id="account-panel" class="hidden">
            <h1>Google Analytics Panel</h1>
            <table class="tbl" cellpadding="0" cellspacing="0">
                <tr>
                    <td>Site: </td>
                    <td><select id="cboAccount"></select></td>
                </tr>
                <tr>
                    <td>Period: </td>
                    <td><select id="cboPeriod">
                            <option value="today">Today</option>
                            <option value="yesterday">Yesterday</option>
                            <option value="7daysago">Last Week</option>
                            <option value="14daysago">Last Two Weeks</option>
                            <option value="28daysago"">Last Four Weeks</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Data Type: </td>
                    <td>
                        <div><input type="checkbox" data-id="ga:users" class="chk-data" checked="true"/> ga:users</div>
                        <div><input type="checkbox" data-id="ga:newUsers" class="chk-data" checked="true"/> ga:newUsers</div>
                        <div><input type="checkbox" data-id="ga:hits" class="chk-data" checked="true"/> ga:hits</div>
                        <div><input type="checkbox" data-id="ga:sessions" class="chk-data" checked="true"/> ga:sessions</div>
                        <div><input type="checkbox" data-id="ga:visits" class="chk-data" checked="true"/> ga:visits</div>
                        <div><input type="checkbox" data-id="ga:bounces" class="chk-data" checked="true"/> ga:bounces</div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button id="btnQuery" onclick="byTutorialAnalytics.queryAnalytics()" class="button">Query</button> <button id="btnReset" onclick="byTutorialAnalytics.reset()" class="button">Reset</button> <button id="btnLogout" onclick="byTutorialAnalytics.handleSignoutClick()" class="button">Log off</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <div id="result" class="hidden">
                <h2>Query Result</h2>
                <div id="query-result" class="result-box"></div>

                <h2>JSON Result</h2>
                <div id="json-result" class="result-box"></div>
            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>

                        /******************** GLOBAL VARIABLES ********************/
                        var SCOPES = ['https://www.googleapis.com/auth/analytics.readonly'];
                        var CLIENT_ID = '995044427162-7rroppk74057revj0tqv4dfi7k9l8kke.apps.googleusercontent.com';
                        var API_KEY = 'DAOa-QSGPYxkL60DWCVaqOPr';

                        var byTutorialAnalytics = {

                            /******************** AUTHENTICATION ********************/
                            handleClientLoad: function () {
                                // Load the API client and auth2 library
                                gapi.load('client:auth2', byTutorialAnalytics.initClient);
                            },

                            //authorize apps
                            initClient: function () {
                                gapi.client.init({
                                    //apiKey: API_KEY, //THIS IS OPTIONAL AND WE DONT ACTUALLY NEED THIS, BUT I INCLUDE THIS AS EXAMPLE
                                    clientId: CLIENT_ID,
                                    scope: SCOPES.join(' ')
                                }).then(function () {
                                    // Listen for sign-in state changes.
                                    gapi.auth2.getAuthInstance().isSignedIn.listen(byTutorialAnalytics.updateSigninStatus);
                                    // Handle the initial sign-in state.
                                    byTutorialAnalytics.updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
                                });
                            },

                            //check the return authentication of the login is successful, we display the account panel box and hide the login box.
                            updateSigninStatus: function (isSignedIn) {
                                if (isSignedIn) {
                                    $("#login-box").hide();
                                    $("#account-panel").removeClass("hidden").show();
                                    byTutorialAnalytics.queryAccounts();
                                } else {
                                    $("#login-box").removeClass("hidden").show();
                                }
                            },

                            handleAuthClick: function (event) {
                                gapi.auth2.getAuthInstance().signIn();
                            },

                            handleSignoutClick: function (event) {
                                if (confirm("Are you sure you want to logout?")) {
                                    gapi.auth2.getAuthInstance().signOut();
                                    $("#account-panel, #result").hide();
                                    $(".result-box").html("");
                                }
                            },
                            /******************** END AUTHENTICATION ********************/

                            //function to query google analytics account
                            queryAccounts: function () {
                                byTutorialAnalytics.showLoading();
                                // Load the Google Analytics client library.
                                gapi.client.load('analytics', 'v3').then(function () {
                                    // Get a list of all Google Analytics accounts for this user
                                    var request = gapi.client.analytics.management.accountSummaries.list();
                                    request.execute(byTutorialAnalytics.handleAccountSummaryResponse);
                                });
                            },

                            //handle the response of account summary
                            handleAccountSummaryResponse: function (response) {
                                if (response && !response.error) {
                                    if (response.items) {
                                        byTutorialAnalytics.buildAccountSummariesCombo(response.items);
                                    }
                                } else {
                                    console.log('There was an error: ' + response.message);
                                    byTutorialAnalytics.hideLoading();
                                }
                            },

                            //build the account summaries combo box
                            buildAccountSummariesCombo: function (accounts) {
                                for (var i = 0, account; account = accounts[i]; i++) {
                                    if (account.webProperties.length > 0 && account.webProperties[0].profiles.length > 0) {
                                        $("#cboAccount").append("<option value='" + account.webProperties[0].profiles[0].id + "'>" + account.name + "</option>");
                                    }
                                }
                                $("#account-panel").removeClass("hidden").show();
                                byTutorialAnalytics.hideLoading()
                            },

                            //function to query google analytics data 
                            queryAnalytics: function () {
                                var id = $("#cboAccount").val();
                                var expressions = [];

                                //we loop through the checkbox and append it to expression array
                                $(".chk-data").each(function (item, index) {
                                    if ($(this).is(":checked")) {
                                        var expressionData = {
                                            expression: $(this).attr("data-id")
                                        }
                                        expressions.push(expressionData);
                                    }
                                });

                                //get the report query by passing the period time and expression daa.
                                byTutorialAnalytics.showLoading();
                                //if it is yesterday comparison, we have to set end date to yesterday otherwise it will combine today and yesteray
                                var toDate = $("#cboPeriod").val() != "yesterday" ? "today" : "yesterday";

                                byTutorialAnalytics.getReportQuery(id, $("#cboPeriod").val(), toDate, expressions).then(function (response) {
                                    var formattedJson = JSON.stringify(response.result, null, 2);
                                    $('#json-result').html(formattedJson);
                                    $("#result").removeClass("hidden").show();

                                    //show result in table
                                    if (response.result.reports.length > 0) {
                                        var sb = "<table cellpadding='0' cellspacing='0' class='tbl'>";
                                        for (var i = 0; i < response.result.reports[0].columnHeader.metricHeader.metricHeaderEntries.length; i++) {
                                            sb += "<tr>";
                                            sb += "<td>" + response.result.reports[0].columnHeader.metricHeader.metricHeaderEntries[i].name + "</td>";
                                            sb += "<td>" + response.result.reports[0].data.rows[0].metrics[0].values[i] + "</td>";
                                            sb += "</tr>";
                                        }
                                        sb += "</table>";
                                        $("#query-result").html(sb);
                                    }
                                    byTutorialAnalytics.hideLoading();
                                });
                            },

                            reset: function () {
                                $(".result-box").html("");
                                $("#result").hide();
                            },

                            //get the analytics query reports, we are using version 4.0
                            getReportQuery: function (id, sDate, eDate, dataMetrics) {
                                return new Promise(function (resolve, reject) {
                                    gapi.client.request({
                                        path: '/v4/reports:batchGet',
                                        root: 'https://analyticsreporting.googleapis.com/',
                                        method: 'POST',
                                        body: {
                                            reportRequests: [
                                                {
                                                    viewId: id,
                                                    dateRanges: [
                                                        {
                                                            startDate: sDate,
                                                            endDate: eDate
                                                        }
                                                    ],
                                                    metrics: dataMetrics
                                                }
                                            ]
                                        }
                                    }).then(function (response) {
                                        if (response != null) {
                                            resolve(response);
                                        } else {
                                            reject(Error("Error getting the data"));
                                        }
                                    })
                                });
                            },

                            //show the transparent waiting progress wrapper
                            showLoading: function () {
                                $("#transparent-wrapper").show();
                            },

                            //hide the transparent waiting progress wrapper
                            hideLoading: function () {
                                $("#transparent-wrapper").hide();
                            }
                        }
        </script>
        <script async defer src="https://apis.google.com/js/api.js" onload="this.onload = function(){}; byTutorialAnalytics.handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script>
    </body>
</html>