/serverside/nbproject/private/
/guia/platforms/
/serverside/vendor/sergeytsalkov/
/serverside/vendor/pimple/
/serverside/vendor/nikic/
/serverside/vendor/slim/
/serverside/vendor/composer/
/serverside/vendor/psr/
/serverside/vendor/container-interop/