/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
/* For avoiding title truncation in wp8 */
/*.ui-controlgroup-controls {
    width:100% !important;
}*/

/* un-checked */
.ui-checkbox label.ui-checkbox-off {
    background: #f1f1f1 !important;
    border: 0px;;
    margin: 0px;
}
.ui-checkbox-off:after {
    background-color: #f1f1f1 !important;
    border: 1px;
    margin: 1px;

}

.ui-checkbox-on:after {
    background-color: #9b9b9b !important;
    border: 1px;
    margin: 1px;
}
/* checked */
.ui-checkbox label.ui-checkbox-on {
    background: #9b9b9b !important;
    border: 1px;
    margin: 1px;
}


#map-page, #map-canvas { width: 100%; height: 64vh; padding: 0; vertical-align:baseline; top:0; bottom:0;  max-width:none; overflow: -moz-scrollbars-vertical;
                         overflow-x: hidden;
                         overflow-y: hidden;}
/*.ui-checkbox {
    width:33% !important;
}*/
.titSmall{
    margin: 0px;
    background: #454545;
    border: none;
    font-size: 8px;
}

.ui-header .ui-title {
    overflow: visible !important;
}
/* For fixing the absolute position issue for the default cordova gen page*/

#cjp-accordion1 .app {
    left: 5px !important;
    margin: 5px !important;
    position: relative !important;
}
.headerMenu{
    background-color: #394fa1;
}

.fotterMenu{
    height: 47%;
    background-color: #eeeeee;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
        );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.txtCinema{    
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 11.0pt;
    width: 98%;
    /* overflow: hidden;*/
    /* resize: none; */
    display: inline-block;
    min-height: 10vh;
    max-height: 250vh;
    margin-bottom:20px;
    overflow-y: auto;
    text-transform: capitalize !important;
    line-height: 140% !important;
    text-align: justify !important;
    text-justify: inter-word !important;
}
.blankButtons{
    background: transparent !important;
    border: none !important;
}
.buttonTitle{
    font-size: 10pt !important;
}
#flexiselDemo1{
    background: transparent !important;
}
.nbs-flexisel-inner {
    background:transparent!important;
}
#titCineWin .h2{
    font-size: 10pt !important;
    margin-top: 10px  !important;
    margin-bottom: 10px  !important;
    word-break: break-all !important;
}
#fotterToolTip{
    margin-bottom: 50px;
}

.hideMeNow{
    display: none;
    visibility: hidden;
}

.footerMainWin{
    height: 30% !important;
    margin: 0px !important; 
    background: #f1f1f1 !important;
}
.whiteBkHeader{
    background: white !important;
}

.containerImagem{
    /* max-width:100%;
     position: relative;*/

    /* max-width:400px; */
    /*  align-items: center;
      overflow:hidden;*/
}
.imgPopUp {
    /* position: absolute;
     left: 0;
     top: 0%;
     height: 100%;
     -webkit-transform: translateY(-50%); */
};